<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/sjcl@1.0.8/sjcl.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/howler@2.2.1/dist/howler.min.js"></script>
	<script defer src="https://alcdn.msauth.net/browser/2.18.0/js/msal-browser.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/rss-parser@3.12.0/dist/rss-parser.min.js"></script>
	<script defer src="app.js"></script>
</head>

<body>
	<section class="section">
		<div id="app" class="container">
			<div class="tabs">
				<ul>
					<li v-bind:class="isActive('bookmarks')" v-on:click="selectedTab = 'bookmarks'"><a>Bookmarks</a></li>
					<li v-bind:class="isActive('news')" v-on:click="selectedTab = 'news'"><a>News</a></li>
					<li v-bind:class="isActive('notes')" v-on:click="selectedTab = 'notes'"><a>Notes</a></li>
					<li v-bind:class="isActive('document')" v-on:click="selectedTab = 'document'"><a>Documents</a></li>
					<li v-bind:class="isActive('radio')" v-on:click="selectedTab = 'radio'"><a>Radio</a></li>
					<li v-bind:class="isActive('settings')" v-on:click="selectedTab = 'settings'"><a>Settings</a></li>
				</ul>
			</div>

			<div v-if="selectedTab === 'news'">
				<h1>Last update: {{ formatDate(news.refreshDate) }}</h1>
				<ul id="feeds">
					<li v-for="feed in news.feeds">
						<a v-bind:href="feed.link" target="_blank" class="has-tooltip-bottom has-tooltip-multiline"
							v-bind:data-tooltip="feed.content">{{ formatDate(feed.pubDate) + feed.title }}</a>
					</li>
				</ul>
			</div>

			<div v-if="selectedTab === 'bookmarks'">
				<div class="columns">
					<div class="column is-half">
						<input class="input" placeholder="Category" v-model="newBookmark.category">
					</div>
				</div>
				<div class="columns">
					<div class="column is-half">
						<input class="input" placeholder="Name" v-model="newBookmark.name" />
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<input class="input" type="url" placeholder="Insert bookmark" v-model="newBookmark.url">
					</div>
					<div class="column">
						<button class="button" v-on:click="addBookmark()">New</button>
					</div>
				</div>
				<ul id="bookmarks" v-for="(item, index) in sortedBookmarks">
					<li>
						<a v-bind:href="item.url" target="_blank" class="has-tooltip-bottom"
							v-bind:data-tooltip="item.category">{{ item.name ? item.name : ((item.url.length > 50) ? item.url.substr(0, 49) + '&hellip;' : item.url) }}</a>
						<a class="delete" v-on:click="deleteBookmark(index)"></a>
					</li>
				</ul>
			</div>

			<div v-if="selectedTab === 'notes'">
				<div class="field is-grouped">
					<div class="control">
						<button class="button" v-on:click="add()">Add</button>
					</div>
				</div>

				<template v-for='field of Object.keys(plain)'>
					<div class="field is-grouped">
						<label class="label">{{ plain[field].label }}</label>
						<a class="delete" style="margin:0 0 0 5px" v-on:click="remove(field)"></a>
					</div>
					<div class="field">
						<div class="control">
							<input v-if="plain[field].type != 'textarea'" v-model="plain[field].value" class="input"
								v-bind:type="plain[field].type" v-bind:placeholder="plain[field].label" />
							<textarea v-else v-model="plain[field].value" class="textarea"
								v-bind:placeholder="plain[field].label"></textarea>
						</div>
					</div>
				</template>

				<div v-if="password && isPasswordCorrect">
					<template v-for='field of Object.keys(encrypted).sort()'>
						<div class="field is-grouped">
							<label class="label" v-bind:title="field">{{ encrypted[field].label }}</label>
							<a class="delete" style="margin:0 0 0 5px" v-on:click="remove(field, true)"></a>
						</div>
						<div class="field has-addons">
							<div class="control is-expanded">
								<input v-model="encrypted[field].value" class="input"
									v-bind:type="encrypted[field].type" v-bind:placeholder="encrypted[field].label" />
							</div>
							<div class="control">
								<a v-if="encrypted[field].type == 'link'" v-bind:href="encrypted[field].value"
									target="_blank" class="button is-info">Go</a>
								<a v-else class="button is-info" v-on:click="copy(encrypted[field].value)">Copy</a>
							</div>
						</div>
					</template>
				</div>
			</div>

			<div v-if="selectedTab === 'document'">
				<div class="columns">
					<div class="column">
						<input class="input" id="file" type="file" v-on:change="processFile($event)" v-on:drop="processFile($event)" />
					</div>
					<div class="column is-1">
						<button id="saveButton" class="button" v-on:click="saveDocument()">Save</button>
					</div>

				</div>
				<div class="columns">
					<div class="column">
						<button class="button" type="button" target="_blank" v-on:click="viewDocument()">View</button>
					</div>
				</div>
				<embed v-if="url" v-bind:src="url" width="100%" style="height: 600px;" />
			</div>

			<div v-if="selectedTab === 'radio'">
				<div class="columns">
					<div class="column is-half">
						<input class="input" placeholder="Category" v-model="newRadio.category">
					</div>
				</div>
				<div class="columns">
					<div class="column is-half">
						<input class="input" placeholder="Name" v-model="newRadio.name" />
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<input class="input" type="url" placeholder="Insert radio URL" v-model="newRadio.url">
					</div>
					<div class="column">
						<button class="button" v-on:click="addRadio()">New</button>
					</div>
				</div>
				<ul id="radios" v-for="(item, index) in sortedRadios">
					<li>
						<a class="fas fa-times" v-on:click="deleteRadio(index)"></a>
						<span class="has-tooltip-bottom" v-bind:data-tooltip="item.category">{{
							item.name ? item.name : item.url }}</span>
						<a class="fas fa-play" v-if="!item.playing && !playing" v-on:click="playRadio(index)"></a>
						<a class="fas fa-stop" v-if="item.playing" v-on:click="stopRadio(index)"></a>
					</li>
				</ul>
			</div>

			<div v-if="selectedTab === 'settings'">
				<div class="field is-grouped">
					<div class="control">
						<button class="button" v-on:click="save()">Save to remote</button>
					</div>
					<div class="control">
						<button class="button" v-on:click="load()">Load from remote</button>
					</div>
				</div>

				<template v-for='field of Object.keys(settings)'>
					<div class="field">
						<label class="label">{{ settings[field].label }}</label>
						<div class="control">
							<input v-if="settings[field].type != 'textarea'" v-model="settings[field].value"
								class="input" v-bind:type="settings[field].type"
								v-bind:placeholder="settings[field].label" />
							<textarea v-else v-model="settings[field].value" class="textarea"
								v-bind:placeholder="settings[field].label"></textarea>
						</div>
					</div>
				</template>
			</div>
		</div>
	</section>
</body>

</html>
